body{
margin:0;
font-family:Arial,Helvetica,sans-serif;
background:#f8f9fb;
color:#333;
}

header{
background:linear-gradient(135deg,#5e3ea1,#1db9b6);
padding:70px 20px;
text-align:center;
color:white;
}

header img{
width:170px;
height:170px;
border-radius:50%;
background:white;
padding:10px;
box-shadow:0 15px 35px rgba(0,0,0,.25);
}

h1{
font-size:42px;
margin-top:20px;
}

.slogan{
font-size:22px;
margin-bottom:30px;
}

.btn{
display:inline-block;
padding:15px 28px;
margin:10px;
background:#ff9800;
color:white;
text-decoration:none;
border-radius:40px;
font-weight:bold;
transition:.3s;
}

.btn:hover{
background:#ff6f00;
transform:scale(1.05);
}

.container{
width:90%;
max-width:1100px;
margin:auto;
padding:60px 0;
}

.card{
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.08);
margin-bottom:30px;
}

.card h2{
color:#5e3ea1;
}

footer{
background:#5e3ea1;
color:white;
text-align:center;
padding:30px;
}
.about{
max-width:900px;
margin:60px auto;
background:#fff;
padding:40px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.about h2{
color:#7b2cbf;
margin-bottom:15px;
}

.about p{
font-size:18px;
line-height:1.8;
}

.about ul{
font-size:18px;
line-height:2;
}
.whatsapp{
position:fixed;
right:20px;
bottom:20px;
width:60px;
height:60px;
background:#25D366;
color:white;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
text-decoration:none;
font-size:30px;
box-shadow:0 5px 15px rgba(0,0,0,.3);
transition:.3s;
}

.whatsapp:hover{
transform:scale(1.1);
}
